<ul class="media-list">
  <% items.each do |i| %>
    <li class="media">
      <div class="pull-left">
        <%= image_tag('http://placehold.it/64x64', size: '64x64', class: 'media-object') %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><% i %></h4>
        ...
      </div>
    </li>
  <% end %>
</ul>
