.container.cart.show
  .row
    .col-md-9
      %ul.media-list
        - @cart.items.each_with_index do |item, index|
          = render partial: 'shared/cards/cart_item', locals: {cart_item: item, index: index, show_remove_btn: true}

    .col-md-3
      / TODO affix
      %p= ( t 'cart.show.total_price_is' ) + ( to_sg_dollar @cart.total_price )
      = link_to t('cart.show.checkout'), main_app.new_order_path, class: 'btn btn-primary btn-block'
