.container.cart.show
  .row
    .col-md-9
      %ul.media-list
        = render partial: 'cart/item', collection: @cart[:items]

    .col-md-3
      / TODO affix
      = link_to t('cart.show.checkout'), main_app.new_order_path, class: 'btn btn-primary btn-block'
