<%- if devise_mapping.omniauthable? %>
<!--   <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
 -->
  <a class="btn btn-block btn-social btn-google-plus" href="<%= omniauth_authorize_path(resource_name, :gplus) %>">
    <i class="fa fa-google-plus"></i> Sign in with Google+
  </a>
<% end -%>
