%footer.main
  .container
    %hr
      %p.pull-left Copyright Ation.sg 2014
      %ul.list-inline.pull-right
        -['about_us', 'contact_us'].each do |p|
          %li
            =link_to t("pages.#{p}"), page_path(p)
