%li.dropdown
  / this delay object in data doesn't work
  %a.cart-btn.dropdown-toggle{data: {toggle: 'dropdown'}}
    %span.glyphicon.glyphicon-shopping-cart= "(#{@cart.size})"
    %b.caret
  .cart-wrapper.dropdown-menu
    = render partial: 'cart/navbar_partial', locals: { cart: @cart }, layout: false
