.container.pages.home
  - if Banner.exists?
    .row
      .col-md-12
        .banners
          = render partial: 'pages/home_banners'

  .row
    - 3.times do
      .category-wrapper
        - Category.all.each do |c|
          .col-md-3
            = render partial: 'shared/cards/category', object: c
          .product-cards
            - Random.new.rand(3..6).times do |t|
              - Product.all.each do |p|
                .col-md-3.item
                  = render partial: 'shared/cards/product', object: p
