.container.pages.home
  .row
    .col-md-12
      .slide
        = render partial: 'shared/home_slide'

  .row
    - Category.all.each do |c|
      .col-md-3.item
        = render partial: 'cards/category', object: c
      .product-cards
        - 10.times do |t|
          - Product.all.each do |p|
            .col-md-3.item
              = render partial: 'cards/product', object: p
