<a class="product-card" href="<%= main_app.product_path(product) %>">
  <div class="product-card">
    <div class="ribbon-wrapper"><div class="ribbon">NEW</div></div>
    <div class="card-image">
      <!-- TODO product cover img -->
      <img src="https://raw.github.com/Magnus-G/Random/master/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      <%= product.name %>
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
    <div class="card-stats">
      <ul>
        <li>98<span>Items</span></li>
        <li>298<span>Things</span></li>
        <li>923<span>Objects</span></li>
      </ul>
    </div>
  </div>  
</a>
