/*
 *= require normalize-rails
 *= require_self
 *= require font-awesome
 */

@import "bootstrap"
@import "bootstrap-social"

@import "bourbon"
@import "bitters/bitters"
@import "neat"

body
  font-size: 14px

@import "mixins"

@import "navbar"
@import "footer"
@import "products"
@import "product_card"
@import "category_card"
@import "cart_item_card"
@import "orders"
@import "order_card"
@import "comments"
@import "cards"
@import "recharge_payment"
@import "banners"

@import "owl-carousel2/owl.carousel"
@import "owl-carousel2/owl.theme.default"


div.container.flash
  a.btn-social
    cursor: default

// pages-home
div.container.pages.home
  // slides
  div.carousel
    div.item
      height: 240px
    margin-bottom: 1em

// // thumbnail-common
// .container
//   .thumbnail-common
//     margin-bottom: 1em

// .thumbnail-common
//   height: 360px
//   border: none
//   border-radius: 0
//   +box-shadow(0px 0px 5px silver)
//   &:hover
//     border: none
//     text-decoration: none
//     +box-shadow(0px 0px 5px grey)

// // thumbnail-product
// // category-category

// devise
div.new-from-oauth
  header p a.btn-social
    cursor: default