/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require font-awesome
 *= require_self
 */

@import "bootstrap"
@import "bootstrap-social"

@import "bourbon"
@import "bitters/bitters"
@import "neat"

body
  font-size: 14px

@import "mixins"

@import "navbar"
@import "footer"
@import "products"
@import "product_card"
@import "category_card"
@import "cart_item_card"
@import "orders"
@import "order_card"
@import "comments"
@import "cards"
@import "recharge_payment"

div.container.flash
  a.btn-social
    cursor: default

// pages-home
div.container.pages.home
  // slides
  div.carousel
    div.item
      height: 240px
    margin-bottom: 1em

// // thumbnail-common
// .container
//   .thumbnail-common
//     margin-bottom: 1em

// .thumbnail-common
//   height: 360px
//   border: none
//   border-radius: 0
//   +box-shadow(0px 0px 5px silver)
//   &:hover
//     border: none
//     text-decoration: none
//     +box-shadow(0px 0px 5px grey)

// // thumbnail-product
// // category-category

// devise
div.new-from-oauth
  header p a.btn-social
    cursor: default