// categories
.container.pages.home .row .category-wrapper{
  &:nth-child(1) {
    .category-card .icon{
      background: $base-accent-color;
    }
  }
  &:nth-child(2) {
    .category-card .icon{
      background: adjust-hue($base-accent-color, 20);
    }
  }
  &:nth-child(3) {
    .category-card .icon{
      background: adjust-hue($base-accent-color, 40);
    }
  }
}

.category-wrapper {
  clear: both;
  .category-card {
    $category-card-icon-size: 3.5em;

    max-height: 300px;
    overflow: hidden;
    padding: 15%;

    .icon {
      float: left;
      background: $base-accent-color;
      padding: $category-card-icon-size /4;
      border-radius: 50%;
      width: $category-card-icon-size;
      height: $category-card-icon-size;
    }
    
    .content {
      margin-left: $category-card-icon-size *1.4;
    }

    h2 {
      font-size: $category-card-icon-size /2.5;
      padding-top: $category-card-icon-size /7;
      margin-bottom: $category-card-icon-size /6;
      border-bottom: 1px solid transparentize($base-font-color, .8);
      display: inline-block;
    }
  }
}
