header.main.container
  div.logo
    text-align: center
    img

  nav.navbar
    border-radius: 0
    border: solid #94302a

    a.navbar-brand
      display: none
      padding: 0
      img
        height: 100%

    ul.cart
      a.cart-btn
        cursor: pointer

      .cart-wrapper
        width: 250px
        padding: 1em
        .cart-partial
          overflow-x: hidden
          overflow-y: auto
          max-height: 300px
          ul.media-list li.media 
            div.cover
              display: block
              width: 64px
              height: 64px
              +background_img_contain

            .media-body .media-heading
              font-weight: bold
              text-overflow: ellipsis
              white-space: nowrap
              overflow: hidden
        footer


  div.affix
    width: 100%
    left: 0
    top: 0
    z-index: 20

    nav.navbar
      border: none
      border-bottom: solid #94302a

    a.navbar-brand
      display: block
