@import "img_slide"

$product-show-border-color: desaturate(darken($base-accent-color, 20), 30)
$product-show-border-width: 0.25em

// product-show
.container.products.show .product-wrapper
  & *
    +user-select(none)
  & a
    text-decoration: none

.container.products.show .product-wrapper
  width: 100%
  border: $product-show-border-width solid $product-show-border-color

  nav
    width: 100%
    border-top: $product-show-border-width solid $product-show-border-color

    li
      list-style: none
      cursor: pointer

  nav.btns
    height: 52px

    li
      width: 52px
      height: 100%
      float: right
      border-left: $product-show-border-width solid $product-show-border-color

      a
        display: block
        height: 100%
        width: 100%
        div
          color: $product-show-border-color
          background: #fff
          height: 100%
          width: 100%

          i.fa
            line-height: 48px
            font-size: 24px
            width: 100%
            text-align: center

      a.product-add-to-cart div
        +transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out)
        &:hover
          background-color: $product-show-border-color
          color: #fff

      a.product-like
        div
          overflow: hidden

        &:hover
          i.fa-heart-o
            display: none

        &.liked
          i.fa-heart-o
            display: none

          &:hover
            i.fa-heart-o
              display: block

      a.product-share div
        +transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out)
        &:hover
          background-color: $product-show-border-color
          color: #fff

      .product-share-dropdown.dropdown-menu
        position: relative
        margin: 0
        top: 0px
        left: -3px
        border: $product-show-border-width solid $product-show-border-color
        border-radius: 0
        padding: 0

        .share-links
          width: 100%

          a
            width: 100%

            background-color: transparent
            border-radius: 0
            border-top: none
            border-left: none
            border-right: none
            border-bottom: $product-show-border-width solid $product-show-border-color
            &:last-child
              border-bottom: none
            &:hover
              border-width: $product-show-border-width

            text-align: left
            padding: 0.3em 1em
            font-size: 1.3em
            font-family: monospace
            color: $product-show-border-color
            white-space: nowrap
            line-height: 1.5em

            +transition(color 0.2s ease-in-out, background-color 0.2s ease-in-out)
            &:hover
              background-color: $product-show-border-color
              color: #fff



.container.products.show pre.product-description
  border: none
  background-color: whitesmoke

// products show comments
.container.products.show .container.comments
  margin-top: 2em
  border: none
  border-top: $product-show-border-width solid $product-show-border-color

  div.section-header
    margin-top: 1em
    margin-bottom: 1em

  .left-all-comments

  .right-my-comments

    .new-comment
      border-top: $product-show-border-width solid $product-show-border-color

  .nothing-to-show
    width: 100%
    height: 100%
    text-align: center
    padding: 1em
    border: dashed lightgrey