.container.products.show
  .row
    .col-md-2.slide-imgs
      .slide-img
        placeholder

    .col-md-7
      = @product.name

    .col-md-3
      = link_to 'cart', 'cart', class: 'btn btn-primary btn-block'
