.container.products.show
  = @product.name
  .sp-wrap
    %a{href: 'http://placehold.it/200x200'}
      =image_tag('http://placehold.it/200x200', size: '200x200')
    %a{href: 'http://placehold.it/200x200'}
      =image_tag('http://placehold.it/200x200', size: '200x200')
    %a{href: 'http://placehold.it/200x200'}
      =image_tag('http://placehold.it/200x200', size: '200x200')
