.container.products.show
  .row
    .col-md-2.slide-imgs
      .slide-img
        placeholder

    .col-md-6
      = @product.name

    .col-md-4
      %a.btn.btn-primary.btn-block.add-to-cart{data: {product_id: @product.id}}
        = t 'products.show.add_to_cart'
