.container.products.show
  .row
    .col-md-6
      .product-wrapper
        .big-img
          %img{src: 'http://placehold.it/800x800'}
        %nav.imgs
          %li
            %a
              %img{src: 'http://placehold.it/64x64'}
          %li
            %a
              %img{src: 'http://placehold.it/64x64'}
        %nav.btns
          %li
            %a.add-to-cart{data: {:product_id => @product.id}}
              %div
                %span.glyphicon.glyphicon-shopping-cart
    .col-md-6
      
