.container.products.show
  .row
    .col-md-6
      .product-wrapper.img-slide.img-slide-wrapper
        .img-slide.img-primary-wrapper
          .img-slide.img-primary-second-wrapper
            .img-slide.img-primary{style: "background-image: url(#{background_image_url @product.cover})"}
        %nav.img-slide.imgs-nav
          - @product.images.each do |i|
            %li
              %a.img-slide.img-link{style: "background-image: url(#{background_image_url i.url})"}
        %nav.btns
          %li
            %a.product-add-to-cart{data: {product_id: @product.id}}
              %div
                %i.fa.fa-shopping-cart
          %li
            %a.product-like{class: ('liked' if (user_signed_in? and current_user.liked? @product)), data: {product_id: @product.id, like_path: main_app.product_like_path(product_id: @product.id), unlike_path: main_app.product_unlike_path(product_id: @product.id)}}
              %div
                %i.fa.fa-heart-o
                %i.fa.fa-heart
    .col-md-6
      %pre.product-description
        = @product.description      
